* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

html, body{
  height: 100%;
  width: 100%;
}

.page {
  width: 100vw;
  height: 100vh;
  border-top: 1px solid transparent;

  display: flex;
  justify-content: center;
  align-items: center;


  /* background: #f5f5f5; */
}

/* MAIN CONTAINER */

.auth-container {
  width: 100%;
  margin-top: 90px;
  height: 100%;
  background-color: red;
  background: white;

  display: flex;

  overflow: hidden;

  border-radius: 12px;
}

/* LEFT SECTION */

.left-section {
  width: 50%;

  padding: 40px;
}

/* RIGHT SECTION */
.right-section {
  width: 50%;

  overflow: hidden;

  position: relative;
}

.right-section img {
  position: absolute;

  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;

  object-position: right bottom;
}
/* LOGO */

.logo img {
  width: 140px;

  margin-bottom: 20px;
}

/* REQUIRED STAR */

.required {
  color: red;
}

/* FORM */

form {
  width: 100%;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;

  margin-bottom: 5px;

  font-size: 14px;
}

.input-group input {
  width: 100%;

  padding: 12px;

  border-radius: 20px;

  border: 1px solid #ccc;

  outline: none;
}

/* GRID */

.grid-2 {
  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 10px;
}

/* BUTTON */

button {
  padding: 12px 20px;

  border: none;

  border-radius: 20px;

  background: linear-gradient(to right, #4da6ff, #d966ff);

  color: white;

  cursor: pointer;

  font-size: 12px;
}

/* PASSWORD */

.password-box {
  position: relative;
}

.eye-btn {
  position: absolute;

  right: 15px;

  top: 38px;

  cursor: pointer;

  font-size: 20px;
}

/* LOGIN ACTIONS */

.login-actions {
  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-top: 10px;
}

.forgot-password {
  font-size: 11px;

  color: #5c6cff;

  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}

/* BOTTOM LINK */

.bottom-link {
  margin-top: 15px;

  font-size: 14px;
}

.bottom-link a {
  color: purple;

  text-decoration: none;
}

/* PASSWORD HINT */

.password-hint {
  font-size: 11px;

  color: gray;

  margin-top: 5px;

  display: block;
}

/* MOBILE */

@media (max-width: 768px) {

  .right-section {
    width: 0;

    opacity: 0;

    overflow: hidden;
  }

  .left-section {
    width: 100%;
  }

  .grid-2 {
    grid-template-columns: 1fr;
  }
}