@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* =========================
   AUTH PAGE
========================= */

.page {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #f5f5f5;
}

/* MAIN CONTAINER */

.auth-container {
  width: 100%;
  height: 100%;

  background: white;

  display: flex;

  overflow: hidden;

  border-radius: 12px;
}

/* LEFT SECTION */

.left-section {
  width: 50%;

  padding: 40px;
}

/* RIGHT SECTION */

.right-section {
  width: 50%;

  overflow: hidden;

  position: relative;
}

.right-section img {
  position: absolute;

  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;

  object-position: right bottom;
}

/* LOGO */

.logo img {
  width: 140px;

  margin-bottom: 20px;
}

/* REQUIRED */

.required {
  color: red;
}

/* FORM */

form {
  width: 100%;
}

/* INPUT GROUP */

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;

  margin-bottom: 5px;

  font-size: 14px;
}

.input-group input {
  width: 100%;

  padding: 12px;

  border-radius: 20px;

  border: 1px solid #ccc;

  outline: none;
}

/* GRID */

.grid-2 {
  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 10px;
}

/* BUTTON */

button {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to right, #4da6ff, #d966ff);
  color: white;
  cursor: pointer;
  font-size: 14px;


}

/* PASSWORD */

.password-box {
  position: relative;
}

.eye-btn {
  position: absolute;

  right: 15px;

  top: 38px;

  cursor: pointer;

  font-size: 20px;
}

/* LOGIN ACTIONS */

.login-actions {
  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-top: 10px;
}

.forgot-password {
  font-size: 11px;

  color: #5c6cff;

  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}

/* BOTTOM LINK */

.bottom-link {
  margin-top: 15px;

  font-size: 14px;
}

.bottom-link a {
  color: purple;

  text-decoration: none;
}

/* PASSWORD HINT */

.password-hint {
  font-size: 11px;

  color: gray;

  margin-top: 5px;

  display: block;
}

.input-group select {
  width: 100%;

  padding: 12px;

  border-radius: 20px;

  border: 1px solid #ccc;

  outline: none;
}

/* =========================
   ADMIN DASHBOARD
========================= */

.admin-dashboard {
  padding: 40px;
}

.admin-dashboard h1 {
  margin-bottom: 30px;
}

.admin-cards {
  display: flex;

  gap: 20px;
}

.admin-card {
  background: white;

  padding: 30px;

  border-radius: 10px;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  width: 250px;
}

/* =========================
   HOME PAGE
========================= */

.home-page {
  width: 100%;
  min-height: 100vh;

  background: #f5f5f5;

  padding: 15px;
}

/* MAIN CONTAINER */

.home-container {
  width: 100%;

  background: white;

  border-radius: 14px;

  overflow: hidden;
}


/* NAVBAR */

.navbar {
  width: 100%;

  display: flex;

  align-items: center;

  justify-content: space-between;

  gap: 15px;

  padding: 18px 20px;

  border-bottom: 1px solid #eee;

  flex-wrap: wrap;
}


/* LOGO */

.nav-logo {
  width: 120px;

  flex-shrink: 0;
}

/* SEARCH */

.search-box {

  width: 450px;
  height: 45px;

  background: #f1f1f1;

  border-radius: 25px;

  display: flex;
  flex: auto;
  align-items: center;

  padding: 0 18px;
}



.search-input {
  width: 100%;

  border: none;

  outline: none;

  background: none;

  font-size: 14px;
}

/* ACTIONS */

.nav-actions {
  display: flex;

  align-items: center;

  gap: 10px;

  flex-shrink: 0;
}

.like-btn{
  position:absolute;

  top:12px;
  right:12px;

  width:38px;
  height:38px;

  border:none;

  border-radius:50%;

  background:white;

  display:flex;

  justify-content:center;

  align-items:center;

  cursor:pointer;

  opacity:0;

  transform:translateY(-10px);

  transition:0.3s;

  z-index:10;

  box-shadow:
  0 2px 10px rgba(0,0,0,0.15);
}


.product-card:hover .like-btn{
  opacity:1;

  transform:translateY(0);
}

/* LIKED */

.like-btn.liked{
  background:#ffe5ec;
}

/* BUTTON */
.nav-btn {
  width: 42px;
  height: 42px;

  border: none;

  border-radius: 50%;

  background: #efefef;

  display: flex;

  justify-content: center;

  align-items: center;

  cursor: pointer;

  font-size: 16px;

  color: #444;
}

@media(max-width:600px) {

  .navbar {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
  }

  .search-box {
    width: 450px;
    height: 45p;
  }

  .nav-actions {
    width: 100%;
    justify-content: center;
  }
}


/* =========================
   CATEGORY BAR
========================= */

.sidebar {
  width: 100%;

  display: flex;

  align-items: center;

  gap: 12px;

  overflow-x: auto;

  padding: 15px 20px;

  border-bottom: 1px solid #eee;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

/* CATEGORY LINKS */

.sidebar-link {
  text-decoration: none;

  color: #444;
}

/* CATEGORY ITEM */

.sidebar-item {
  min-width: max-content;

  padding: 10px 20px;

  border-radius: 30px;

  background: white;

  border: 1px solid #eee;

  cursor: pointer;

  transition: 0.3s;

  font-size: 14px;
}

.sidebar-item:hover {
  background: #5c6cff;

  color: white;
}

/* =========================
   HOME CONTENT
========================= */

.home-content {
  padding: 40px;
}

/* =========================
   BANNERS
========================= */

.banner-section {
  width: 100%;
  scroll-behavior: smooth;
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.banner-section img {
  width: 25%;
  height: 90px;
  border-radius: 12px;
  object-fit: cover;
}

/* =========================
   PRODUCTS GRID
========================= */
.products-grid {


  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(220px, 220px));

  gap: 20px;

  justify-content: flex-start;
}

/* =========================
   PRODUCT CARD
========================= */

.product-card {

  position: relative;
  background: white;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.pc-details {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
}

.product-card:hover {
  transform: translateY(-4px);
}

/* IMAGE */

.product-card img {
  width: 100%;

  height: 200px;

  object-fit: cover;
}

/* INFO */

.product-info {
  padding: 12px;
}

.product-info h3 {
  font-size: 10px;
  margin-bottom: 8px;

  color: #333;
}

.product-info p {
  font-size: 16px;

  font-weight: bold;

  margin-bottom: 12px;
}

/* PRODUCT BUTTONS */

.product-buttons {
  gap: 8px;
  height: 10%;
  width: 10%;
}

.message-btn {
  flex: 1;

  border: none;

  background: #efefef;

  border-radius: 20px;

  padding: 9px;

  font-size: 12px;

  cursor: pointer;

  color: #333;
}
/* ADD TO CART EFFECT */

.add-to-cart{
  transition:0.3s;
}

/* CLICK EFFECT */

.cart-click{
  transform:scale(0.92);

  opacity:0.8;
}
/* =========================
   MOBILE
========================= */

@media (max-width: 768px) {
  .right-section {
    display: none;
  }

  .left-section {
    width: 100%;
  }

  .grid-2 {
    grid-template-columns: 1fr;
  }

  .navbar {
    flex-direction: column;
  }


  .search-box {
    flex: 1;
    min-width: 250px;
    height: 45px;
    background: #f1f1f1;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 0 18px;
  }

  .nav-actions {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }
}

.banner-section {
  width: 100%;
  display: flex;
  gap: 20px;

  overflow-x: auto;
  scroll-behavior: smooth;

  padding: 10px 5px;
}

/* scrollbar styling */
.banner-section::-webkit-scrollbar {
  height: 8px;
}

.banner-section::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 20px;
}

.banner-section::-webkit-scrollbar-track {
  background: transparent;
}

/* =========================
   BANNER CARD
========================= */
.banner-card {
  width: 260px;
  min-width: 260px;
  height: 90px;
  border-radius: 12px;
  position: relative;
  flex-shrink: 0;

  background:
    linear-gradient(to right,
      #4da6ff,
      #d966ff);
  padding-left: 18px;
  display: flex;
  align-items: center;
}

.banner-section::-webkit-scrollbar {
  display: none;
}

/* CONTENT */

.banner-content p {
  color: white;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 2px;
}

.banner-content h2 {
  color: white;
  font-size: 2.2vh;
  line-height: 28px;
}

/* IMAGE */

.banner-card img {

  mix-blend-mode: multiply;
  padding-right: 40px;
  padding-bottom: 10px;
  width: 130px;
  height: 100px;


}

.add-to-cart {
  width: 8vw;
  height: 6vh;
}